---
import { TAGS } from '@/constants';
import { type TagName } from '@/types';
import Layout from '@/layouts/Layout.astro';
import TechnologyBadget from '@/components/TechnologyBadget.astro';
import SectionContainer from '@/components/SectionContainer.astro';
import StarIcon from '@/icons/StarIcon.astro';
import { getExperience } from '@/services/experience';
import { getI18N } from '@/i18n';

const { id } = Astro.params;
const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const experience = await getExperience(id!, currentLocale);
---

<Layout title='about' description='...'>
  <SectionContainer class='p-3'>
    <h1
      class='text-3xl font-black lg:text-4xl text-slate-800 dark:text-lavender'
      transition:name={`experience-title-${id}`}
    >
      {experience?.title}
    </h1>
    <div class='flex flex-col md:flex-row md:justify-between'>
      <h2
        class='text-lg text-slate-800/80 dark:text-lavender/80 md:text-xl'
        transition:name={`experience-company-${id}`}
      >
        {experience?.company}
      </h2>
      <small
        class='text-slate-800/60 dark:text-lavender/60'
        transition:name={`experience-date-${id}`}>{experience?.date}</small
      >
    </div>

    <ul class='my-8 flex flex-row flex-wrap gap-2 lg:gap-4'>
      {
        experience?.tags.map((tag: TagName) => {
          const { class: className, name, icon: Icon } = TAGS[tag];
          return (
            <TechnologyBadget class={`${className} text-xs`}>
              <Icon class={`size-5 md:size-6`} /> {name}
            </TechnologyBadget>
          );
        })
      }
    </ul>

    <p
      class=`
        my-8 
        text-sm text-pretty md:text-base 
        opacity-70
        text-slate-800 dark:text-lavender
      `
    >
      {experience?.description}
    </p>

    <h3
      class=`
        text-xl font-bold text-electric-purple md:text-2xl
        mb-4 
        flex flex-row gap-x-2 items-center
      `
    >
      <StarIcon />
      {i18n.EXPERIENCE_ACHIEVEMENT_SUBTITLE}
    </h3>

    <hr class='my-4 border-slate-800/30 dark:border-lavender/30' />
    <ul
      class='list-outside list-disc ps-5 text-sm flex flex-col gap-2 mb-8 md:text-base text-slate-800 dark:text-lavender'
    >
      {
        experience?.achievements.map((i) => (
          <li class='text-pretty opacity-95'>{i}</li>
        ))
      }
    </ul>
  </SectionContainer>
</Layout>
