---
import Layout from '../layouts/Layout.astro';
import Badget from '../components/Badget.astro';
import LinkedInIcon from '../icons/LinkedIn.astro';
import SocialBadget from '../components/SocialBadget.astro';
import GitHubIcon from '../icons/GitHub.astro';
import MailIcon from '../icons/Mail.astro';
import DownloadIcon from '../icons/Download.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
import Briefcase from '../icons/Briefcase.astro';
import Code from '../icons/Code.astro';
import Projects from '../components/Projects.astro';

const links = {
  linkedIn: 'https://www.linkedin.com/in/jdoo15/',
  gitHub: 'https://github.com/JuanDa15/',
  mail: 'mailto:jdoo1115@gmail.com',
};

const calculateExperience = () => {
  const initialDate = new Date('01-01-2022');
  const today = new Date();

  const yearsDiff = today.getFullYear() - initialDate.getFullYear();
  const monthsDiff = today.getMonth() - initialDate.getMonth();

  return Math.ceil(Number(`${yearsDiff}.${monthsDiff}`));
};
---

<Layout title='Portfolio Juan David - Web Developer' description='...'>
  <main class='px-4'>
    <SectionContainer class='pt-24 md:pt-28 lg:pt-44 pb-20' id='top'>
      <img
        src='/img.jpg'
        alt='juan_david_pic'
        class={`
          rounded-full 
          size-14 xl:size-16
          mb-4
        `}
      />
      <h1
        class={`
          text-2xl md:text-4xl lg:text-5xl font-bold 
          flex items-center gap-x-4 md:gap-x-6 
          mb-8 md:mb-10
        `}
      >
        Hey, I'm Juan David
        <a
          class='flex align-center'
          href={links.linkedIn}
          target='_blank'
          referrerpolicy='no-referrer'
        >
          <Badget>Available for hire</Badget>
        </a>
      </h1>
      <p
        class={`
          text-xl lg:text-2xl 
          opacity-70 
          text-balance
        `}
      >
        <b class='text-electric-purple/90'>
          + {calculateExperience()} years experience.
        </b>
        <span class='opacity-40'>
          Front end developer based in Pereira, Colombia.
        </span>
        Specialized in creating applications in diferent Frontend frameworks.
      </p>

      <nav
        class={`
          flex flex-row gap-x-4 gap-y-3 items-center flex-wrap
          mt-8 lg:mt-12 
        `}
      >
        <SocialBadget href={links.linkedIn}>
          <LinkedInIcon class='w-5 h-5' /> LinkedIn
        </SocialBadget>
        <SocialBadget href={links.gitHub}>
          <GitHubIcon class='w-5 h-5' /> GitHub
        </SocialBadget>
        <SocialBadget href={links.mail}>
          <MailIcon class='w-5 h-5' />
          <span>jdoo1115@gmail.com</span>
        </SocialBadget>
        <SocialBadget>
          <DownloadIcon class='w-5 h-5' /> CV
        </SocialBadget>
      </nav>
    </SectionContainer>
    <!-- <SectionContainer id='experience'>
      <h2 class='text-4xl font-semibold mb-8 flex gap-x-4 items-center'>
        <Briefcase class='w-6 h-6' /> Job experience
      </h2>
      <Experience />
    </SectionContainer>
    <SectionContainer id='projects'>
      <h2 class='text-4xl font-semibold mb-8 flex gap-x-4 items-center'>
        <Code class='w-6 h-6' /> Projects
      </h2>
      <Projects />
    </SectionContainer> -->
  </main>
</Layout>
