---
import { TAGS } from '../../constants';
import { type TagName } from '../../types';
import Layout from '../../layouts/Layout.astro';
import TechnologyBadget from '../../components/TechnologyBadget.astro';
import SectionContainer from '../../components/SectionContainer.astro';
import StarIcon from '../../icons/StarIcon.astro';
import { getExperience } from '../../services/experience';

export function getStaticPaths() {
  return [{ params: { id: '1' } }, { params: { id: '2' } }];
}

const { id } = Astro.params;

const experience = await getExperience(id);
---

<Layout title='about' description='...'>
  <SectionContainer class='p-3'>
    <h1 class='text-3xl font-black lg:text-4xl'>{experience?.title}</h1>
    <div class='flex flex-col md:flex-row md:justify-between'>
      <h2 class='text-lg text-lavender/80 md:text-xl'>{experience?.company}</h2>
      <small class='text-lavender/60'>{experience?.date}</small>
    </div>

    <ul class='my-8 flex flex-row flex-wrap gap-2 lg:gap-4'>
      {
        experience?.tags.map((tag: TagName) => {
          const { class: className, name, icon: Icon } = TAGS[tag];
          return (
            <TechnologyBadget class={`${className} text-xs`}>
              <Icon class={`size-5 md:size-6`} /> {name}
            </TechnologyBadget>
          );
        })
      }
    </ul>

    <p
      class=`
        my-8 
        text-sm text-pretty md:text-base 
        opacity-70
      `
    >
      {experience?.description}
    </p>

    <h3
      class=`
        text-xl font-bold text-electric-purple md:text-2xl
        mb-4 
        flex flex-row gap-x-2 items-center
      `
    >
      <StarIcon />
      Achievements
    </h3>

    <hr class='my-4 border-lavender/30' />
    <ul
      class='list-outside list-disc ps-5 text-sm flex flex-col gap-2 mb-8 md:text-base'
    >
      {
        experience?.achievements.map((i) => (
          <li class='text-pretty opacity-95'>{i}</li>
        ))
      }
    </ul>
  </SectionContainer>
</Layout>
